@import url('https://fonts.googleapis.com/css?family=Roboto&subset=cyrillic-ext');
@font-face {
  font-family: 'Aharoni';
  src: url('../fonts/ahronbd.eot');
  src: local('☺'), url('../fonts/ahronbd.woff') format('woff'), url('../fonts/ahronbd.ttf') format('truetype'), url('../fonts/ahronbd.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: 'Roboto', sans-serif;
}
body,
html {
  height: 100%;
  padding: 0;
}
.to_top {
  position: fixed!important;
  top: 0;
  z-index: 10000;
  background-color: white;
  width: 100%;
}
a:focus {
  outline: none;
}
.nav > li > a:focus,
.nav > li > a:hover {
  text-decoration: none;
}
